* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none !important;
}
/*********************intro*******************/
#header{
  position: fixed;
  width: 100%;
  z-index: 1;
}
.navbar .navbar-brand img {
  max-width: 100%;
  width: 60px;
  max-height: 100%;
}
#header .navbar-nav a {
  margin: 1.5rem;
  color: #13130d;
  font-size: 1rem;
  font-weight: 800;
  text-transform: capitalize;
}
#header .navbar.sticky-top {
  background: #cf9613;
  color: #1f1f1f;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.20);
}

#blog .navbar-nav a,
#disco .navbar-nav a {
  margin: 1.5rem;
  color: #f8f8f8;
  font-size: 1rem;
  font-weight: 700;
  text-transform: capitalize;
}
/******************Slide******************/
#slide .carousel button {
  background-color: #cf9613;
  width: 10px;
  height: 10px;
  margin: 0.7rem;
  border: 0;
  border-radius: 0;
  opacity: 0.8;
}
#slide .carousel-caption {
  position: absolute;
  max-width: 600px;
  text-align: left;
  top: 180px;
}
#slide .carousel-caption span {
  font-weight: 300;
  border-bottom: 1px solid #d7d7d7;
}
#slide .carousel-caption h1 {
  font-weight: 800;
  font-size: 2.2rem;
  text-transform: uppercase;
  line-height: 1.3;
  text-shadow: 3px 4px 6px rgb(0 0 0 / 37%);
}
#slide .carousel-caption .btn-intro {
  background: transparent;
  font-weight: 600;
  width: 170px;
  height: 50px;
  line-height: 35px;
  margin-top: 1.2rem;
  border: 1px solid #fff;
  border-radius: 0;
  color: #fff;
}
#slide .carousel-caption .btn-intro:hover {
  background: #cf9613;
  border: 0;
  color: #fff;
  transition: all 0.4s ease-in;
}

/**********************last-album************************/

.theme-bg {
  background-color: #cf9613;
  color: #ffffff;
}
.gray-bg {
  background-color: #1f1f1f;
  color: #fff;
}
#album .upcoming-album {
  padding: 5.8rem 5rem 4.5rem 2rem;
}
#album .upcoming-album h3 {
  font-weight: 700;
  margin-bottom: 1.8rem;
  text-transform: uppercase;
}
#album .upcoming-album .excerpt {
  font-weight: 300;
  letter-spacing: 2;
}
#album .upcoming-album .btn-theme {
  background: transparent;
  width: 170px;
  height: 50px;
  line-height: 35px;
  border: 1px solid #fff;
  border-radius: 0;
  font-weight: 600;
  color: #fff;
}
#album .upcoming-album .btn-theme:hover {
  background: #fff;
  color: #cf9613;
}

/*****************upcoming-music********************/
#upcoming-music .section-header,
#last-news .section-header,
#discotheque .section-header {
  position: relative;
  padding-bottom: 1.2rem;
  margin-bottom: 4.3rem;
}
#upcoming-music .section-header h3,
#last-news .section-header h3,
#discotheque .section-header h3 {
  font-weight: 800;
  font-size: 2rem;
  text-transform: uppercase;
}
#upcoming-music .section-header p,
#last-news .section-header p,
#discotheque .section-header p {
  font-weight: 400;
  font-size: 1rem;
  text-transform: uppercase;
  margin-top: 1rem;
}
#upcoming-music .section-header::after,
#last-news .section-header::after,
#discotheque .section-header::after {
  position: absolute;
  content: "";
  height: 8px;
  width: 100px;
  left: 50%;
  bottom: 0;
  margin-left: -50px;
  background-color: #111111;
}
#upcoming-music .single-music {
  padding: 1.75rem 1rem 1rem 1.75rem;
  margin-bottom: 1rem;
  transition:  all .2s;
}
#upcoming-music .single-music h4 {
  font-weight: 700;
  font-size: 2rem;
  color: #000;
  margin-bottom: 0.4rem;
  line-height: 34px;
}
#upcoming-music .single-music p {
  font-weight: 300;
  font-size: 1rem;
  color: #000;
  text-transform: uppercase;
}
#upcoming-music .single-music .date {
  position: relative;
  width: 70%;
}
#upcoming-music .single-music .date::after {
  position: absolute;
  content: "";
  background: #d7d7d7;
  width: 1px;
  height: 85px;
  right: 0;
  top: -13px;
}
#upcoming-music .single-music h5 {
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 1.2rem;
  color: #000;
}
#upcoming-music .single-music .btn-link {
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 2.9px;
  color: #000;
  width: 100%;
  height: 50px;
  line-height: 35px;
  border: 1px solid #d7d7d7;
  border-radius: 0;
}
#upcoming-music .single-music:hover {
  box-shadow: 0px 36px 36.9px 1.1px rgb(0 0 0 / 16%), inset -0.5px -0.9px 0 0 rgba(255 255 255 / 75%);
  border: 2px solid #cf9613;
  transition: all .4s ease-in;
}
#upcoming-music .zik-more {
  font-weight: 600;
  font-size: 1rem;
  width: 240px;
  height: 50px;
  line-height: 35px;
  text-transform: uppercase;
  border: 2px solid #cf9613;
  border-radius: 0;
  margin-top: 2rem;

}

/*****************Artist*************/

#artist {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: #fff;
}
#artist h2 {
  font-weight: 700;
  font-size: 2rem;
}
#artist .text {
  position: relative;
  font-weight: 300;
  font-size: 1rem;
  padding-left: 8rem;
  margin-top: 0.4rem;
  text-transform: uppercase;
}
#artist .text::before {
  position: absolute;
  content: "";
  background-color: #cf9613;
  width: 100px;
  height: 7px;
  left: 0;
  top: 1rem;
}
#artist p {
  font-weight: 300;
  font-size: 1rem;
  line-height: 30px;
}
#artist .cta {
  margin-top: 4rem;
}
#artist .cta .cta-one {
  background: transparent;
  font-weight: 500;
  font-size: 1rem;
  width: 250px;
  height: 50px;
  line-height: 35px; 
  border: 2px solid #cf9613;
  border-radius: 0;
  text-transform: uppercase;
  color: #fff;
  transition: all 0.4s ease-in-out;
}
#artist .cta .cta-one:hover {
  background: #fff;
  color: #cf9613;
  border: none;
  transition: all 0.4s ease-in-out;
}
#artist .cta .cta-two {
  font-weight: 500;
  font-size: 1rem;
  width: 250px;
  height: 50px;
  line-height: 35px;
  border-radius: 0;
  text-transform: uppercase;
  color: #fff;
  transition: all 0.2s ease-in-out;
}
#artist .cta .cta-two:hover {
  background: #cf9613;
  color: #fff;
  transition: all 0.2s ease-in-out;
}
#artist .cta .cta-one:focus,
#artist .cta .cta-two:focus {
  outline: 0;
  box-shadow: none;
}
#artist .speaker {
  display: block;
  max-width: 100%;
  height: 300px;
  max-height: 100%;
  margin-top: -13rem;
}

/***************Last News Home Page***********/

#last-news .blog-item {
  margin-bottom: 2rem;
  box-shadow: 0px 0px 30px -4px rgb(0 0 0 / 10%);
}
#last-news .blog-img {
  position: relative;
  overflow: hidden;
}
#last-news .blog-item .blog-content {
  padding: 1.2rem 1rem 1rem;
  background: #fff;
}
#last-news .blog-item .blog-content h3 {
  font-weight: 700;
  font-size: 1.2rem;
  color: #000;
}
#last-news .blog-item .blog-content p {
  padding-bottom: 1rem;
  border-bottom: 1px solid #f7f7f7;
  margin-bottom: 0.4rem;
}
#last-news .blog-item .blog-content .blog-meta {
  padding-top: 1rem;
}
#last-news .blog-item .blog-content .blog-meta .more a {
  font-weight: 600;
  font-size: 1rem;
  border-bottom: 1px solid #aaa;
  color: #000;
}
#last-news .blog-item .blog-content .blog-meta .date {
  float: right;
}
#last-news .blog-img img{
  transition: all .5s ease-in-out;
}
#last-news .blog-img img:hover {
  transform: scale(1.15);
}

/******************Blog********************/
#blog .banner-text,
#disco .banner-text {
  padding: 12rem 0 4rem;
}
#blog .banner-text h1,
#disco .banner-text h1 {
  font-size: 3rem;
  color: #fff;
  margin-bottom: 2rem;
  text-transform: uppercase;
  text-shadow: 3px 4px 6px rgb(0 0 0 / 37%);
}
#blog .banner-text p,
#disco .banner-text p {
  font-weight: 300;
  font-size: 1rem;
  color: #dddddd;
  text-transform: uppercase;
}

/***************Discothèque****************/

#discotheque .album-box {
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
}
#discotheque .album-details {
  background: rgba(0, 0, 0, 0.9);
  position: absolute;
  bottom: 0;
  padding: 1.4rem 2.5rem;
  width: 100%;
  transition: all 0.4s;
}
#discotheque .album-details .content h3 {
  position: relative;
  font-weight: 700;
  font-size: 1rem;
  padding-bottom: 8px;
  margin: 0;
  line-height: 24px;
  transition: all 0.4s;
}
#discotheque .album-details .content h3 a {
  color: #fff;
}
#discotheque .album-details .content h3::after {
  position: absolute;
  content: "";
  background-color: #cf9613;
  width: 100px;
  height: 2px;
  left: 0;
  top: 1.8rem;
}
#discotheque .album-details .content p {
  font-size: 0.8rem;
  margin-top: 8px;
  color: #fff;
}
#discotheque .album-details .icon {
  margin-top: 3px;
  color: #cf9613;
  transition: all 0.4s;
}
#discotheque .album-box:hover .box-thumb {
  transform: scale(1.10);
  transition: all .4s;
}
#discotheque .album-box:hover .album-details {
  background: #cf9613;
  color: #f7f7f7;
  transition: all .4s;
}
#discotheque .album-box:hover .icon {
  color: #fff;
  transition: all .7s ease-in-out;
}
#discotheque .album-box:hover .album-details .content h3::after {
  background: #fff;
  transition: all 0.7s ease-in-out;
}

/**************Single Artist***************/
#single-artist h3 {
  font-weight: 700;
  font-size: 2rem;
}
#single-artist h5 {
  font-weight: 500;
  font-size: 1rem;
  margin-top: 1.25rem;
}
#single-artist span {
  margin-bottom: 1rem;
  color: #828282;
}
#single-artist .content-view {
  padding-top: 2rem;
}
#single-artist .content-view p {
  font-size: 1rem;
  color: #828282;
}
#single-artist .btn-single {
  background: #cf9613;
  font-weight: 600;
  font-size: 1rem;
  width: 200px;
  height: 60px;
  line-height: 45px;
  margin-top: 1.1rem;
  color: #fff;
  text-transform: uppercase;
  border: 0;
  border-radius: 0;
}
#single-artist .album-feature{
  position: relative;
}
#single-artist .album-feature .inner {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 1rem 1.7rem;
  left: 12px;
  color: #fff;
  background: #cf9613;
  opacity: 0.9;
}

#single-artist .album-feature .inner .icon {
  margin-bottom: 0.4rem;
}
#single-artist .album-feature .inner p {
  font-weight: 500;
  font-size: 1.2rem;
}

/**************Post Single article**********/

#single-post .post-info ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#single-post .post-info ul li {
  display: inline-block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 2rem;
  font-size: 1rem;
  font-weight: 700;
  color: #555555;
}
#single-post .content-view p {
  font-size: 1rem;
  color: #828282;
}
#single-post .widgetsearch {
  position: relative;
}
#single-post .widgetsearch .searchform [type=search] {
  background-color: transparent;
  border: 2px solid #e7e7e7;
  font-size: 1rem;
  padding: 0 3rem;
  line-height: 46px;
  outline: 0;
  box-shadow: none;
}
#single-post .widgetsearch .searchform [type=submit] {
  position: absolute;
  border: 2px solid transparent;
  top: 0;
  line-height: 46px;
  color: #cf9613;
  width: 70px;
}
#single-post .widgetcategory .title,
#single-post .widgetpost .title,
#single-post .widget-tags .title {
  position: relative;
  font-weight: 700;
  font-size: 1.2rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
  padding-bottom: 0.7rem;
}
#single-post .widgetcategory .title::after,
#single-post .widgetpost .title::after,
#single-post .widget-tags .title::after {
  position: absolute;
  content: "";
  bottom: 0;  
  background-color: #cf9613;
  height: 5px;
  width: 50px;
  left: 0;
}
#single-post .widgetcategory ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#single-post .widgetcategory ul li {
  margin-bottom: 1rem;
}
#single-post .widgetcategory ul li a {
  position: relative;
  font-weight: 300;
  font-size: 1rem;
  color: #111;
}
#single-post .widgetcategory ul li a:hover {
  color: #cf9613;
  transition: all 0.4s ease-in-out;
}
#single-post .widgetpost .posts h5 a {
  font-size: 1rem;
  color: #111;
}
#single-post .widgetpost .posts h5 a:hover {
  color: #cf9613;
  transition: all 0.4s ease-in-out;
}
#single-post .widgetpost .posts span {
  font-weight: 300;
}
#single-post .widget-tags a {
  display:  inline-block;
  font-weight: 300;
  padding: 0 1rem;
  margin: 0 0.4rem 0.8rem 0;
  line-height: 27px !important;
  color: #111;
  border: 1px solid #e7e7e7;
}
#single-post .widget-tags a:hover {
  border: 1px solid #cf9613;
  transition: all 0.4s;
}

/*****************Contact*****************/
#contact {
  background: #e7e7e7;
}
#contact span {
  font-weight: 300;
  font-size: 1.2rem;
  font-style: italic;
}
#contact h3 {
  font-weight: 700;
  font-size: 3rem;
  padding-bottom: 2rem;
}
#contact .wrap-social ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#contact .wrap-social {
  padding-top: 2rem;
}
#contact .wrap-social ul li {
  display: inline-block;
  margin-right: 2rem;
  transition: all 0.4s ease-in-out;
}
#contact .wrap-social ul li a {
  display: block;
  font-size: 1.2rem;
  color: #cf9613;
  text-align: center;
  line-height: 44px;
  border: 1px solid #676767;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: all 0.4s ease-in-out;
}
#contact .wrap-social ul li a:hover {
  background: #cf9613;
  border: none;
  color: #fff;
  transition: all 0.4s ease-in-out;
}
#contact .form {
  padding-top: 2rem;
}
#contact .form label {
  font-weight: 600;
  font-size: 0.9rem;
  color: #111;
}
#contact .form .form-control {
  background: #e7e7e7;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #111111;
  border-radius: 0;
}
#contact .form .form-control:focus {
  outline: 0;
  box-shadow: none;
}
#contact .btn-send {
  background: #cf9613;
  font-weight: 700;
  width: 180px;
  height: 50px;
  line-height: 37px;
  border: 0;
  border-radius: 0;
  text-transform: uppercase;
}

/******************Footer******************/

#footer {
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  color: #fff;
}
#footer .footer-nav {
  margin-bottom: 2rem;
}
#footer .footer-nav ul {
  list-style: none;
  padding: 0;
}
#footer .footer-nav ul li{
  display: inline-block;
  margin-right: 6rem;
}
#footer .footer-nav ul li a {
  font-weight: 800;
  font-size: 1rem;
  text-transform: capitalize;
  color: #fff;
}
#footer .footer-nav ul li a:hover {
  color: #cf9613;
  transition: all 0.4s;
}
#footer img {
  max-width: 100%;
  width: 90px;
  max-height: 100%;
}
#footer .footer-more {
  padding-top: 2rem;
}
#footer .footer-more h3 {
  font-weight: 800;
  font-size: 1rem;
  text-transform: capitalize;
  margin-bottom: 1rem;
}
#footer .footer-more span {
  font-weight: 400;
  font-size: 0.8rem;
  color: #dfdfdf;
}
#footer .footer-more span:hover {
  color: #cf9613;
  transition: all 0.4s;
}

#footer .socials ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
#footer .socials ul li {
  margin: 2rem;
}
#footer .socials ul li a {
  color: #fff !important;
}
#footer .socials ul li a:hover {
  color: #cf9613 !important;
  transition: all 0.4s ease-in-out;
}
#footer .footer-bottom a {
  font-weight: 500;
  margin-top: 2rem;
  color: #cf9613;
}
#footer .footer-bottom a:hover {
  text-decoration: underline !important;
  color: #f8f8f8;
  transition: all 0.4s;
}



/*********************************************
                  Media Query
*********************************************/

@media (max-width: 1024px) {
  #artist .speaker {
    display: none;
  }
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  #upcoming-music .single-music .date::after {
    display: none;
  }
  #artist .speaker {
    display: none;
  }
}

@media (max-width: 767.98px) {
  #upcoming-music .single-music .date::after {
    display: none;
  }
  #artist .speaker {
    display: none;
  }
}